td{
    padding: 2px;
    text-align: start;
    white-space: normal !important;
}

th{
    padding: 2px;
    text-align: center;
    white-space: normal !important;
}

.itpw-editor-table{
    font-size: 80%;
    table-layout: fixed;
    width: 100%;
}

.itpw-no-scrolled{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.itpw-search-submit-btn{
    position: absolute;
    z-index: -100;
}

.itpw-search-td{
    padding: 0 !important;
    margin: 0 !important;
}

.itpw-small-table-row{
    width: 100%;
    height: min-content !important;
    font-size: 12px;
}